---
- name: Create share directory
  file:
    path: /mnt/array/data
    state: directory
    owner: nobody
    group: nogroup
  become: true

- name: Create share subdirectories
  file:
    path: /mnt/array/data/{{item}}
    state: directory
    owner: nobody
    group: nogroup
  with_items:
    - Audio
    - Books
    - Comics
    - Documents
    - Games
    - Images
    - Software
    - Video
  become: true

- name: Install Samba
  apt:
    name: "{{item}}"
    state: present
  become: true
  with_items:
    - samba

- name: Install Samba config
  copy:
    src: smb.conf
    dest: /etc/samba/
  become: true
  notify:
    - restart smbd
    - restart nmbd

- name: Ensure Samba is running now and at boot
  service:
    name: "{{item}}"
    enabled: yes
    state: started
  become: true
  with_items:
    - smbd
    - nmbd
